<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crm.mapper.BaseDictMapper" >

  <resultMap id="BaseResultMap" type="cn.crm.bean.BaseDict">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="dict_sort" jdbcType="INTEGER" property="dictSort" />
    <result column="dict_enable" jdbcType="INTEGER" property="dictEnable" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <select id="selectByTypecode" resultMap="BaseResultMap" parameterType="String" >
    select *
      from base_dict
	 where type_code = #{typeCode}
	 ORDER BY type_code ,dict_sort
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
      from base_dict
     where id = #{dictId}
     ORDER BY type_code ,dict_sort
  </select>

    <select id="selectDictList" resultMap="BaseResultMap" parameterType="cn.crm.bean.BaseDict">
        select *
        from base_dict
      <include refid="selectBaseDictListWhere"/>
      ORDER BY type_code ,dict_sort
      <if test="start !=null and rows != null">
        limit #{start},#{rows}
      </if>
    </select>
  <sql id="selectBaseDictListWhere">
    <where>
      <if test="typeCode != null" >
        type_code like "%"#{typeCode}"%"
      </if>
      <if test="typeName != null" >
        and type_name like "%"#{typeName}"%"
      </if>
    </where>
  </sql>
  <select id="selectDictListCount" parameterType="cn.crm.bean.BaseDict" resultType="int">
    select count(*)
		from base_dict
    <include refid="selectBaseDictListWhere"/>
    ORDER BY type_code ,dict_sort
  </select>
  <select id="selectAllTypeName" parameterType="cn.crm.bean.BaseDict" resultMap="BaseResultMap">
    SELECT DISTINCT type_code,type_name
    from base_dict
  </select>

  <update id="updateBaseDictById" parameterType="cn.crm.bean.BaseDict">
    update base_dict
    <set>
      <if test="itemName!=null and itemName!=''">
        item_name=#{itemName},
      </if>
      <if test="dictSort!=null">
        dict_sort=#{dictSort},
      </if>
      <if test="dictEnable!=null">
        dict_enable=#{dictEnable},
      </if>
      <if test="remark!=null">
        remark=#{remark},
      </if>
    </set>
    where id=#{id}
  </update>

  <insert id="insertBaseDict" parameterType="cn.crm.bean.BaseDict">
		insert into base_dict(type_code,type_name,item_name,dict_sort,dict_enable,remark)
		values (#{typeCode},
		#{typeName},
		#{itemName},
		#{dictSort},
		1,
		#{remark})
	</insert>
</mapper>