<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crm.mapper.CustomerMapper">

	<resultMap id="BaseResultMap" type="cn.crm.bean.Customer">
		<id column="cust_id" jdbcType="BIGINT" property="custId" />
		<result column="cust_name" jdbcType="VARCHAR" property="custName" />
		<result column="cust_user_id" jdbcType="BIGINT" property="custUserId" />
		<result column="cust_create_id" jdbcType="BIGINT" property="custCreateId" />
		<result column="cust_source" jdbcType="VARCHAR" property="custSource" />
		<result column="cust_industry" jdbcType="VARCHAR" property="custIndustry" />
		<result column="cust_level" jdbcType="VARCHAR" property="custLevel" />
		<result column="cust_linkman" jdbcType="VARCHAR" property="custLinkman" />
		<result column="cust_phone" jdbcType="VARCHAR" property="custPhone" />
		<result column="cust_mobile" jdbcType="VARCHAR" property="custMobile" />
		<result column="cust_zipcode" jdbcType="VARCHAR" property="custZipcode" />
		<result column="cust_address" jdbcType="VARCHAR" property="custAddress" />
		<result column="cust_createtime" jdbcType="TIMESTAMP" property="custCreatetime" />
	</resultMap>

	<sql id="selectCustomerListWhere">
		<where>
	      <if test="cust_name != null" >
	        cust_name like "%"#{cust_name}"%"
	      </if>
	      <if test="cust_source != null" >
	        and cust_source = #{cust_source}
	      </if>
	      <if test="cust_industry != null" >
	        and cust_industry = #{cust_industry}
	      </if>
	      <if test="cust_level != null" >
	        and cust_level = #{cust_level}
	      </if>
    	</where>
	</sql>
	<select id="selectCustomerList" parameterType="cn.crm.bean.Customer" resultType="cn.crm.bean.Customer">
		SELECT
			cust_id,
			cust_name,
			cust_user_id,
			cust_create_id,
			b.dict_item_name cust_source,
			c.dict_item_name cust_industry,
			d.dict_item_name cust_level,
			cust_linkman,
			cust_phone,
			cust_mobile,
			cust_createtime
		FROM
			customer a
		LEFT JOIN (
			SELECT
				dict_id,
				dict_item_name
			FROM
				base_dict
			WHERE
				dict_type_code = '002'
		) b ON a.cust_source = b.dict_id
		LEFT JOIN (
			SELECT
				dict_id,
				dict_item_name
			FROM
				base_dict
			WHERE
				dict_type_code = '001'
		) c ON a.cust_industry = c.dict_id
		LEFT JOIN (
			SELECT
				dict_id,
				dict_item_name
			FROM
				base_dict
			WHERE
				dict_type_code = '006'
		) d ON a.cust_level = d.dict_id
		join (
		select customer_status.cust_id id
		from customer_status
		where cust_status &lt;&gt; '无效客户' or cust_status IS NULL
		) s on a.cust_id = s.id
		<include refid="selectCustomerListWhere"/>
		<if test="start !=null and rows != null">
			limit #{start},#{rows}
		</if>
	</select>
	<select id="selectCustomerListCount" parameterType="cn.crm.bean.Customer" resultType="int">
		select count(*)
		from customer a
		join (
		select customer_status.cust_id id
		from customer_status
		where cust_status &lt;&gt; '无效客户' or cust_status IS NULL
		) s on a.cust_id = s.id
		<include refid="selectCustomerListWhere"/>
	</select>	
	
	<select id="getCustomerById" parameterType="long" resultType="cn.crm.bean.Customer">
		select * from customer where cust_id = #{id}
	</select>
	<update id="updateCustomer" parameterType="cn.crm.bean.Customer">
		update customer
		<set>
			<if test="cust_name!=null and cust_name!=''">
				cust_name=#{cust_name},
			</if>
			<if test="cust_user_id!=0">
				cust_user_id=#{cust_user_id},
			</if>
			<if test="cust_create_id!=0">
				cust_create_id=#{cust_create_id},
			</if>
			<if test="cust_source!=null">
				cust_source=#{cust_source},
			</if>
			<if test="cust_industry!=null">
				cust_industry=#{cust_industry},
			</if>
			<if test="cust_level!=null">
				cust_level=#{cust_level},
			</if>
			<if test="cust_linkman!=null">
				cust_linkman=#{cust_linkman},
			</if>
			<if test="cust_phone!=null">
				cust_phone=#{cust_phone},
			</if>
			<if test="cust_mobile!=null">
				cust_mobile=#{cust_mobile},
			</if>
			<if test="cust_zipcode!=null">
				cust_zipcode=#{cust_zipcode},
			</if>
			<if test="cust_address!=null">
				cust_address=#{cust_address},
			</if>
			<if test="cust_createtime!=null">
				cust_createtime=#{cust_createtime},
			</if>
		</set>
		where cust_id=#{cust_id}
	</update>
	<delete id="deleteCustomer" parameterType="long">
		delete from customer where cust_id=#{id}
	</delete>

	<insert id="insertCustomer" parameterType="cn.crm.bean.Customer">
		insert into customer(cust_name,cust_user_id,cust_create_id,cust_source,cust_industry,cust_level,
		cust_linkman,cust_phone,cust_mobile,cust_zipcode,cust_address,cust_createtime)
		values (#{cust_name},
		#{cust_user_id},
		#{cust_create_id},
		#{cust_source},
		#{cust_industry},
		#{cust_level},
		#{cust_linkman},
		#{cust_phone},
		#{cust_mobile},
		#{cust_zipcode},
		#{cust_address},
		#{cust_createtime})

	</insert>

</mapper>