<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8"/>
    <title>客户管理分析系统</title>
    <link rel="stylesheet" href="css/layuimini.css"/>
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css"/>
    <script src="lib/layui-v2.5.5/layui.js"></script>
    <link rel="stylesheet" href="css/public.css" media="all"><!--layuimini的样式要用到-->
<!--    <script src="lib/layui-v2.5.5/lay/modules/jquery.js"></script>-->
    <script>
        layui.use('element', function () {
            var element = layui.element;

            //一些事件监听
            element.on('tab(demo)', function (data) {
                console.log(data);
            });
        });
    </script>

</head>

</html>